<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
     ">

    <!--将一个类交由spring创建Bean并管理，主要参数为bean的ID，用于获取该bean，以及指定该bean所属的类-->
    <bean id="bean" class="com.Bean"/>


</beans>